@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  color: #000;
}

textarea {
  resize: none;
  font-family: "Bebas Neue", cursive;
}

.make-pink {
  border-radius: 2px;
  box-shadow: none;
  min-width: 200px;
  aspect-ratio: 6/1;
  padding: 6px 40px;
  background-color: #fef9f3;
}
.make-pink span {
  text-align: center;
  display: block;
  font-size: 20px;
  font-weight: 500;
}
.make-pink:hover {
  background-color: #ff70a6;
  box-shadow: -7px 10px rgb(24, 18, 19);
}

.shadow-on-active:active {
  box-shadow: -3px 3px rgb(24, 18, 19);
  transform: translate3d(3px 2px 0px);
}

body {
  font-family: "Bebas Neue", cursive;
  background-color: #ffdca8;
  margin: 0 8rem;
  color: #000;
}
@media only screen and (max-device-width: 768px) {
  body {
    margin: 0 4rem;
  }
}
@media (max-device-width: 425px) {
  body {
    margin: 0 1rem;
  }
}
body header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 1rem;
}
body header .logo {
  background-color: #000;
  padding: 2.5rem 2rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
@media only screen and (max-device-width: 768px) {
  body header .logo {
    padding: 1.5rem 1rem;
  }
}
@media (max-device-width: 425px) {
  body header .logo {
    padding: 1rem 0.5rem;
  }
}
body header .logo h1 {
  font-size: 2.5rem;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}
@media (max-device-width: 425px) {
  body header .logo h1 {
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
  }
}
body header .logo h1:hover {
  color: skyblue;
  scale: 1.1;
}
body header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 30px;
}
@media (max-device-width: 425px) {
  body header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5px;
  }
}
body header nav ul li {
  font-size: 2rem;
  font-weight: 400;
  color: #000;
  cursor: pointer;
  padding: 0 15px;
  transition: all 0.2s ease-in-out;
}
body header nav ul li a span {
  overflow: hidden;
  position: relative;
  display: inline-block;
}
@media (max-device-width: 425px) {
  body header nav ul li {
    font-size: 1rem;
    font-weight: 400;
    color: #000;
  }
}
body header nav ul li:hover {
  scale: 1.2;
}
body header nav ul li a:active {
  transform: scale(0.8);
}
body main {
  height: calc(100vh - 128px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 1rem;
}
body main #hero {
  overflow: hidden;
  height: 75vh;
  border-radius: 20px;
  padding: 20px 50px;
  border: 1.5px solid;
  box-shadow: -30px 5px rgb(24, 18, 19);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 3.5rem;
  background-color: #ff9770;
  transition: all 0.13s ease-out;
}
@media only screen and (max-device-width: 768px) {
  body main #hero {
    padding: 20px 30px;
  }
}
@media (max-device-width: 425px) {
  body main #hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    gap: 2rem;
    padding: 20px 15px;
    box-shadow: -10px 5px rgb(24, 18, 19);
  }
}
body main #hero:hover {
  transition: all 0.13s ease-in;
  box-shadow: -30.5px 10px rgb(24, 18, 19);
  scale: 1.03;
}
@media (max-device-width: 425px) {
  body main #hero:hover {
    box-shadow: -10px 5px rgb(24, 18, 19);
  }
}
body main #hero:active {
  box-shadow: -5.5px 1px rgb(24, 18, 19);
  transform: translateY(4px);
}
body main #hero .hero-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex: 1;
  gap: 5rem;
  overflow: hidden;
  padding: 10px 30px;
}
@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  body main #hero .hero-left {
    gap: 4rem;
  }
}
@media only screen and (max-device-width: 768px) {
  body main #hero .hero-left {
    gap: 3rem;
  }
}
@media (max-device-width: 425px) {
  body main #hero .hero-left {
    gap: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem 3rem;
  }
}
body main #hero .hero-left .hero-text {
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  gap: 25px;
}
@media (max-device-width: 425px) {
  body main #hero .hero-left .hero-text {
    text-align: center;
  }
}
body main #hero .hero-left .hero-text h1 {
  position: relative;
  font-size: 5rem;
  font-weight: bold;
  color: #000;
  line-height: 1;
}
@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  body main #hero .hero-left .hero-text h1 {
    font-size: 4rem;
    font-weight: bold;
    color: #000;
  }
}
@media only screen and (max-device-width: 768px) {
  body main #hero .hero-left .hero-text h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #000;
  }
}
@media (max-device-width: 425px) {
  body main #hero .hero-left .hero-text h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #000;
  }
}
body main #hero .hero-left .hero-text p {
  position: relative;
  font-size: 1.5rem;
  font-weight: 400;
  color: #000;
  line-height: 1;
  text-transform: lowercase;
}
@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  body main #hero .hero-left .hero-text p {
    font-size: 1.25rem;
    font-weight: 400;
    color: #000;
  }
}
@media (max-device-width: 425px) {
  body main #hero .hero-left .hero-text p {
    font-size: 1rem;
    font-weight: 400;
    color: #000;
  }
}
body main #hero .hero-left .cta-button {
  position: relative;
  border-radius: 20px;
  padding: 20px 50px;
  color: #000000;
  border: 1.5px solid;
  box-shadow: -20px 5px rgb(24, 18, 19);
  transition: all 0.13s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
}
@media only screen and (max-device-width: 768px) {
  body main #hero .hero-left .cta-button {
    padding: 15px 25px;
  }
}
@media (max-device-width: 425px) {
  body main #hero .hero-left .cta-button {
    padding: 5px 10px;
    border: 1px solid;
    box-shadow: -10px 5px rgb(24, 18, 19);
  }
}
body main #hero .hero-left .cta-button:hover {
  transition: all 0.13s ease-in;
  box-shadow: -20.5px 10px rgb(24, 18, 19);
  scale: 1.05;
}
@media (max-device-width: 425px) {
  body main #hero .hero-left .cta-button:hover {
    box-shadow: -10px 5px rgb(24, 18, 19);
  }
}
body main #hero .hero-left .cta-button:active {
  box-shadow: -5.5px 1px rgb(24, 18, 19);
  transform: translateY(4px);
}
body main #hero .hero-left .cta-button span {
  font-size: 1.5rem;
  font-weight: 400;
  color: #000;
}
body main #hero .hero-right {
  position: relative;
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: url("../assets/6zz9k1.gif") no-repeat center;
}
@media only screen and (max-device-width: 768px) {
  body main #hero .hero-right {
    background: url("../assets/6zz9k1.gif") no-repeat center;
    width: 100%;
  }
}
@media (max-device-width: 425px) {
  body main #hero .hero-right {
    background: url("../assets/6zz9k1.gif") no-repeat center;
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */